
.FirstTitle {
    text-align: center;
    font-family: 'Inter Tight, sans-serif'
}

.secondTitle {
 padding-left: 30px;
    font-family: 'Inter Tight, sans-serif'
}

.paragph {
    font-family: 'Lexend', sans-serif;
    padding-left: 30px;
   }


.LandingTitle {
    font-family: 'Lexend', sans-serif;
    font-size: 70px;
    padding-left: 30px;
}